.nav {
  position: fixed;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  height: 20px;
  z-index: 1;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 10px;
  left: 2rem;
  width: 80px;
  object-fit: contain;
  cursor: pointer;
}

.nav__links {
  margin-left: 100px;
}

.nav__link {
  padding: 0 0.5rem;
  text-decoration: none;
  color: white;
}

.nav__link:hover {
  text-decoration: underline;
  color: #999;
}

.nav__avatar {
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 2rem;
  width: 30px;
  height: 30px;
}

@media (max-width: 992px) {
  .nav__links {
    display: none;
  }
}
