.nav {
  position: fixed;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  height: 20px;
  z-index: 1;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 10px;
  left: 2rem;
  width: 80px;
  object-fit: contain;
  cursor: pointer;
}

.nav__links {
  display: flex;
  margin-left: 100px;
}

.nav__link {
  padding: 0 0.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav__link:hover,
.nav__dropdown_link:hover {
  text-decoration: underline;
  color: #999;
}

.nav__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 3rem;
  color: white;
}

.nav__dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  right: 0;
  margin-top: 135px;
  z-index: 1;
}

.nav__dropdown:hover .nav__dropdown-content {
  display: flex;
  flex-direction: column;
}

.nav__avatar {
  width: 30px;
  height: 30px;
}

.nav__arrow {
  width: 15px;
  height: 15px;
  margin-left: 0.25rem;
}

.nav__dropdown_link {
  padding: 0.25rem;
}

.nav__border-separation {
  border-top: 1px solid #555;
}

@media (max-width: 992px) {
  .nav__links {
    display: none;
  }
}
