.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
  max-width: 800px;
}

.profileScreen__body > h1 {
  font-size: 4rem;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 1.25rem;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  height: 100px;
}

.profileScreen__details {
  color: white;
  margin-left: 1.75rem;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 1rem;
  font-size: 1rem;
  padding-left: 1.25rem;
}

.profileScreen__plans {
  margin-top: 1.25rem;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 0.75rem;
}

.profileScreen__signOut {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 5%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.profileScreen__information {
  color: rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.profileScreen__information > p {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

@media (max-width: 994px) {
  .profileScreen__information > p {
    text-align: center;
    font-weight: 500;
    font-size: 0.75rem;
  }
}

@media (max-width: 660px) {
  .profileScreen {
    height: 100%;
  }
}

@media (max-width: 520px) {
  .profileScreen__info > img {
    display: none;
  }
}
